.menu {
    display: none;
}

.header-contacts {
display: none;
}

.page-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (max-width: 767.98px) {
    .page-header__container {
        max-height: 60px;
    }
}

@media screen and (min-width: 768px) {
    .page-header__container {
        height: 80px;
    }
    
    .menu {
        display: flex;
    }

    .header-contacts {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .header-container {
        display: flex;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu__link {
        padding-top: 33px;
        padding-bottom: 33px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--subtitle-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
         &:focus {
            color: var(--accent-color);
        }
    }

    .header-contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .menu__item:not(:last-child) {
        margin-right: 50px;
    }
    
    .menu__link_active {
        position: relative;
        color: var(--accent-color);
    
        &::after {
            position: absolute;
            content: '';
            background-color: var(--accent-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;
            bottom: 0;
            left: 0;
        }
    }

    .header-contacts__link {
        padding-top: 5px;
        padding-bottom: 5px;
        @include font (12px, 500, 1.17);
        letter-spacing: 0.02em;
        color: var(--description-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .header-contacts__icon {
        fill: var(--description-color);
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .header-contacts__link:hover &,
        .header-contacts__link:focus & {
            fill: var(--accent-color);
        }
    }

    .icon-letter {
        width: 14px;
        height: 10px;
    }

    .icon-phone {
        width: 10px;
        height: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .header-contacts {
        display: flex;
    }

    .header-contacts__link {
        display: flex;
        align-items: center;
    }

    .header-contacts__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .header-contacts__link {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
        line-height: 1.14;
    }

    .icon-letter {
        width: 16px;
        height: 12px;
    }
    
    .icon-phone {
        width: 10px;
        height: 16px;
    }
}