.logo {
    font-family: var(--secondary-font-family);
    @include font (26px, 700, 1.19);
}

.logo_prefix-color_blue {
    color: var(--accent-color);
}

.logo_theme_light {
    color: #000000;
    
    &:focus {
        color: #000000;
    }
}

.logo_theme_dark {
     color: var(--title-color);

    &:focus {
        color: var(--title-color);
    }
}

@media screen and (min-width: 768px) {
    .logo-header-link {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .logo-header-link {
        margin-right: 93px;
    }
}