@media screen and (max-width: 1200px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section_bg-color {
    background-color: #F5F4FA;
}

.section_specific-pt {
    padding-top: 0;
}

.section_specific-pb {
    padding-bottom: 50px;
}