.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;    
}

.portfolio__item {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__link {
    display: flex;
    flex-direction: column;
}

.portfolio__container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    flex-grow: 1;
}

.portfolio__title {
    @include font (18px, 700, 2.0);
    letter-spacing: 0.06em;
    color: var(--subtitle-color);
    margin-bottom: 4px;
}

.portfolio__description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.portfolio__wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    @include font (18px, 400, 1.56);
    color: rgba(255, 255, 255, 1);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .portfolio__item {
        flex-basis: calc((100% - 60px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .portfolio__item {
        flex-basis: calc((100% - 90px) / 3);
    }
}