:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --title-color: #FFFFFF;
    --subtitle-color: #212121;
    --description-color: #757575;
    --background-color: #2F303A;
}